#msgs{
    list-style-type: none; margin: 0; padding: 0;
    float: right;
    width:70%;


}
#msgs li { padding: 5px 10px; }
#msgs li:nth-child(odd) { background: #eee; }




#msgs
{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    float: right;
    width:70%;
}


#msgs
{
    
    font-size: 12px;
}

#msgs li 
{
    padding: 5px 10px; 
}

#msgs li:nth-child(odd) 
{
    background: rgba(245,245,245,0.7); 
}

#msgs li:nth-child(even)
{
    background: rgba(55,55,55,0.7);
    color: white;
}

#rooms 
{
    border: black 2px solid;
    border-radius: 5px;
    background: rgba(245,245,245,0.7);
    width:30%;
    float: left;
    border-collapse: collapse;

}

.score
{
    float:right;
}

.room:hover
{
    color: #000088;
}

#rooms tr td
{
    border: 1px solid black;

}

#rooms tr th
{
    border: 1px solid black;

}

h1
{
    text-align: center;

}

html
{
    height: 100%;
 
    
}

* 
{ 
 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body 
{ 
    font: 13px Helvetica, Arial;
    height: 100%;
}
form 
{
    background: #000;
    padding: 3px;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

form input 
{
    border: 0;
    padding: 10px;
    width: 90%; 
    margin-right: .5%; 
}

form button 
{
    width: 9%;
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px; 
}

#players 
{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    float: right;
    width:70%;

}
#players li 
{ 
    padding: 5px 10px; 
}

#players li:nth-child(odd) 
{ 
    background: rgba(245,245,245,0.7); 
}




footer
{
    position: fixed;
    bottom: 0;
    width: 100%
}
